/*Desktop View*/
.container {
    background-color: var(--Black);
    min-height: 500px;
    display: flex;
    justify-content: space-around;
}

.content {
    box-sizing: border-box;
    padding: 48px;
    max-width: min(1080px, 100vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: var(--Dark-Grey);
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.imgContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
