/*Desktop View*/
.container {
    background-color: var(--Black);
    min-height: 500px;
    display: flex;
    justify-content: space-around;
}
.content {
    padding: 24px;
    box-sizing: border-box;
    gap: 24px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    background-color: var(--Red);
}

.nftContent {
    padding: 24px;
    gap: 24px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    flex-wrap: wrap;
    background-color: var(--Red);
}

.nftDescription{
    display: flex;
    flex-direction: column;
}
.nftContent img {
    width: 300px;
    height:300px;
    object-fit: cover;
}

.content h1 {
   padding: 24px
}
